/* You can add global styles to this file, and also import other style files */

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

* {
    box-sizing: border-box;
}
.container_header h3{
    margin-left: 45px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header {
    background-color: #e60000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: $box-shadow;
    img{
    margin-left: 35px;
    }
}
img{
    height: 50px;
    width: 80px;
    margin-top: 8px;
}
